<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家居商城后台管理系统</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/me.css" th:href="@{/css/me.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/lib/layui/css/layui.css" th:href="@{/lib/layui/css/layui.css}" />
    <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">家居商城后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    管理员
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="#" th:href="@{/admin/logout}">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a class="layui-this" th:href="@{/admin/index}">首页</a></li>>
                <li class="layui-nav-item"><a th:href="@{/admin/order}">订单管理</a></li>>
                <li class="layui-nav-item"><a th:href="@{/admin/item}">商品管理</a></li>
                <li class="layui-nav-item"><a th:href="@{/admin/user}">用户管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div id="contextWrap">
            <!--sidebar-->

            <!--sidebar-->

            <div class="pusher">
                <!--navbar-->

                <!--navbar-->
                <!--maincontent-->
                <div class="mainWrap navslide">
                    <div class="ui equal width left aligned padded grid stackable">

                        <div class="row">
                            <div class="sixteen wide tablet four wide computer column">

                                <div class="ui segment left aligned">

                                    <div class="ui  statistic">
                                        <div class="value counter" th:text="${ordernum}">
                                            3,952
                                        </div>
                                        <div class="label">
                                            订单数
                                        </div>
                                        <i class="icon ion-ios-cart teal statisticIcon"></i>
                                    </div>
                                    <div id="flot-order" class="flotchart"></div>
                                </div>
                            </div>

                            <div class="sixteen wide tablet four wide computer column">

                                <div class="ui segment left aligned">

                                    <div class="ui  statistic">
                                        <div class="value counter" th:text="${usertotal}">
                                            3,952
                                        </div>
                                        <div class="label">
                                            用户数
                                        </div>
                                        <i class="icon ion-ios-timer blue statisticIcon"></i>
                                    </div>
                                    <div id="flot-avarage" class="flotchart"></div>
                                </div>
                            </div>
                            <div class="sixteen wide tablet four wide computer column">

                                <div class="ui segment left aligned">

                                    <div class="ui  statistic">
                                        <div class="value counter" th:text="${ordertotal}">
                                            3,112
                                        </div>
                                        <div class="label">
                                            销售额
                                        </div>
                                        <i class="icon ion-magnet purple statisticIcon"></i>
                                    </div>
                                    <div id="flot-saves" class="flotchart"></div>
                                </div>
                            </div>
                            <div class="sixteen wide tablet four wide computer column">

                                <div class="ui segment left aligned">

                                    <div class="ui  statistic">

                                        <div class="value counter">
                                            9,582
                                        </div>
                                        <div class="label">
                                            访问量
                                        </div>
                                        <i class="icon ion-trophy red statisticIcon"></i>
                                    </div>
                                    <div id="flot-view" class="flotchart"></div>
                                </div>
                            </div>
                        </div>

                        <div class="stretched row">

                            <div class="sixteen wide tablet ten wide computer column">
                                <div class="ui segments">
                                    <div class="ui segment no-padding-bottom">
                                        <h5 class="ui left floated header">
                                            热销商品
                                        </h5>
                                        <h5 class="ui right floated header">
                                            <i class="ion-ios-arrow-up icon link"></i>
                                            <i class="ion-ios-refresh-empty refreshing icon link"></i>
                                            <i class="ion-ios-close-empty icon link"></i>
                                        </h5>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="ui segment left aligned">

                                        <table class="ui very basic center aligned  celled table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>商品名</th>
                                                <th>商品销量</th>
                                                <th>库存情况</th>
                                                <th>商品标签</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr>
                                                <td>1</td>
                                                <td th:text="${order1.name}">Chrome</td>
                                                <td th:text="${order1.num}">10 July 2014</td>
                                                <td><i class="green check icon"></i></td>
                                                <td><a class="ui blue mini basic label">Update</a></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td th:text="${order2.name}">Mozilla</td>
                                                <td th:text="${order2.num}">2 Feb 2010</td>
                                                <td><i class="red close icon"></i></td>
                                                <td><a class="ui green mini basic label">Upgrade</a></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td th:text="${order3.name}">Yandex</td>
                                                <td th:text="${order3.num}">29 Aug 2012</td>
                                                <td><i class="green check icon"></i></td>
                                                <td><a class="ui purple mini basic label">Coming Soon</a></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td th:text="${order4.name}">Internet Explorer</td>
                                                <td th:text="${order4.num}">5 Sep 2005</td>
                                                <td><i class="red close icon"></i></td>
                                                <td><a class="ui red mini basic label">Released</a></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td th:text="${order5.name}">Safari</td>
                                                <td th:text="${order5.num}">1 Jan 2002</td>
                                                <td><i class="red close icon"></i></td>
                                                <td><a class="ui yellow mini basic label">Upgrade</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="ui inverted dimmer">
                                            <div class="ui text loader">Loading</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sixteen wide tablet six wide computer column">

                                <div class="ui segment">
                                    <h2 class="ui   center aligned header">

                                        <div class="content">
                                            Melbourne
                                            <div class="sub header">Thursday, 29 November</div>
                                        </div>
                                    </h2>
                                    <h3 class="ui center aligned header">14 &deg;</h3>
                                    <div class="ui divider"></div>
                                    <div class="ui five column centered grid">

                                        <div class="column center aligned">
                                            <p>Wed</p>
                                            <p><i class="wi wi-day-cloudy"></i></p>
                                            <p>12&deg;</p>
                                        </div>
                                        <div class="column center aligned">
                                            <p>Thu</p>
                                            <p><i class="wi wi-day-sleet"></i></p>
                                            <p>10&deg;</p>
                                        </div>
                                        <div class="column center aligned">
                                            <p>Fri</p>
                                            <p><i class="wi wi-day-cloudy-gusts"></i></p>
                                            <p>8&deg;</p>
                                        </div>
                                        <div class="column center aligned">
                                            <p>Sat</p>
                                            <p><i class="wi wi-day-sprinkle"></i></p>
                                            <p>-5&deg;</p>
                                        </div>
                                        <div class="column center aligned">
                                            <p>Sun</p>
                                            <p><i class="wi wi-day-lightning"></i></p>
                                            <p>14&deg;</p>
                                        </div>
                                    </div>
                                    <div id="flot-weather" class="flotchart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="sixteen wide tablet sixteen wide computer column">
                                <div class="ui segments">
                                    <div id="main" style="width: 100%;height:400px;"></div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!--maincontent-->
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © lijun.com - 欢迎来到智能家居网上商城
    </div>
</div>
<script src="../../static//lib/layui/layui.js" th:src="@{/lib/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar',
            showBackground: true,
            backgroundStyle: {
                color: 'rgba(180, 180, 180, 0.2)'
            }
        }]
    };
    myChart.setOption(option);
</script>
</body>