
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>智能家居 - 智能家居官方网站</title>

    <link rel="shortcut icon" href="http://s01.mifile.cn/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css"th:href="@{/css/main.css}">
    <link rel="stylesheet" href="../static/css/reset.css"th:href="@{/css/reset.css}">
    <script src="../static/js/jquery.min.js"th:src="@{/js/jquery.min.js}"></script>

</head>
<body>
<!-- 顶部导航条 -->
<div class="topbar">
    <div class="container">

        <div class="topbar-cart">
            <a href="cart.html"th:href="cart"><i></i>购物车</a>
        </div>
        <div class="topbar-info">
            <a href="#" class="link">登录</a>
            <span class="ver">|</span>
            <a href="#" class="link">注册</a>
            <span class="ver">|</span>
            <a href="info.html" class="link"th:href="info">个人中心</a>
        </div>
    </div>
</div>
<!-- header区 -->
<div class="header">
    <div class="container">
        <div class="header-logo">
            <a href="index.html" class="logo"th:href="index"></a>
            <div class="advertising">
                <a href="#"></a>
            </div>
        </div>
        <div class="header-nav">
            <ul class="navlist clearfix">
                <li class="all"></li>
                <li class="item"><a href="index.html"th:href="index">首页</a></li>
                <li class="item"><a href="type.html"th:href="type">智慧家居</a></li>
                <li class="item"><a href="about.html"th:href="about">关于我们</a></li>

            </ul>
        </div>
        <div class="header-search">
            <form action="" class="search-form">
                <input type="text" class="search-text">
                <input type="submit" class="search-btn iconfont" value="&#xe652;">
            </form>
        </div>
    </div>
</div>
<!-- 主要内容 -->
<div class="page-main">
    <div class="container">
        <div class="submena clearfix">
            <a href=" ">全部分类</a>
            <span>></span>
            <a href=" ">新鲜水果</a>
            <span>></span>
            <a href=" ">商品详情</a>
        </div>
        <div class="center_con clearfix">
            <div class="main_menu fl"><img src="./images/goods_detail.jpg"></div>
            <div class="goods_detail_list fr">
                <h3>大兴大棚草莓</h3>
                <p>草莓浆果柔软多汁，味美爽口，适合速冻保险贮藏，草莓速冻后，可以保持原有的色、香、味，既便于贮藏，又便于外销。</p>
                <div class="prize_bar">
                    <div class="show_prize fl">￥<em id="price">16.80</em></div>
                    <div class="show_unit fl">单位：500g</div>
                </div>
                <div class="goods_num clearfix">
                    <div class="num_name fl">数量：</div>
                    <div class="num_add fl">
                        <input type="text" id="inputnum" class="num_show fl" value="1">
                        <a href="#"  onclick="click1()" class="add fr">+</a>
                        <a href="#" onclick="click2()" class="minus fr">-</a>
                    </div>
                </div>
                <div class="total">总价：<em id="sumprice">16.80元</em></div>
                <div class="operate_btn">
                    <a href="" class="buy_btn">立即购买</a>
                    <a href="" class="add_cart">加入购物车</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 页脚 -->
<div class="footer">
    <div class="container">
        <div class="footer-servise">
            <ul class="servise-list clearfix">
                <li class="servise-item">
                    <a href=""><i class="iconfont">&#xe712;</i>预约维修服务</a>
                </li>
                <li class="servise-item">
                    <a href=""><i class="iconfont">&#xe70d;</i>七天无理由退货</a>
                </li>
                <li class="servise-item">
                    <a href=""><i class="iconfont">&#xe706;</i>15天免费换货</a>
                </li>
                <li class="servise-item">
                    <a href=""><i class="iconfont">&#xe6f1;</i>满150元包邮</a>
                </li>
                <li class="servise-item">
                    <a href=""><i class="iconfont">&#xe709;</i>520余家售后网点</a>
                </li>
            </ul>
        </div>
        <div class="footer-info clearfix">
            <div class="more-info">
                <ul class="info-list clearfix">
                    <li class="info-item">
                        <p class="info-title">帮助中心</p>
                        <p class="c1"><a href="">账户中心</a></p>
                        <p class="c1"><a href="">购物指南</a></p>
                        <p class="c1"><a href="">订单操作</a></p>
                    </li>
                    <li class="info-item">
                        <p class="info-title">服务支持</p>
                        <p class="c1"><a href="">售后政策</a></p>
                        <p class="c1"><a href="">自助服务</a></p>
                        <p class="c1"><a href="">相关下载</a></p>
                    </li>
                    <li class="info-item">
                        <p class="info-title">线下门店</p>
                        <p class="c1"><a href="">大米之家</a></p>
                        <p class="c1"><a href="">服务网点</a></p>
                        <p class="c1"><a href="">零售网点</a></p>
                    </li>
                    <li class="info-item">
                        <p class="info-title">关于大米</p>
                        <p class="c1"><a href="">了解大米</a></p>
                        <p class="c1"><a href="">加入大米</a></p>
                        <p class="c1"><a href="">联系我们</a></p>
                    </li>
                    <li class="info-item">
                        <p class="info-title">关注我们</p>
                        <p class="c1"><a href="">新浪微博</a></p>
                        <p class="c1"><a href="">大米部落</a></p>
                        <p class="c1"><a href="">官方微信</a></p>
                    </li>
                    <li class="info-item">
                        <p class="info-title">特色服务</p>
                        <p class="c1"><a href="">F 码通道</a></p>
                        <p class="c1"><a href="">礼物码</a></p>
                        <p class="c1"><a href="">防伪查询</a></p>
                    </li>
                </ul>
            </div>
            <div class="cm-info">
                <p class="phone">400-100-5678</p>
                <p class="time">周一至周日 8:00-18:00<br />（仅收市话费）</p>
                <a href="" class="online"><i class="iconfont">&#xe720;</i>24小时在线客服</a>
            </div>
        </div>
    </div>
</div>
<div class="banner"></div>
</body>

<script src="../static/js/main.js"th:src="@{/js/main.js}"></script>
<script src="../static/js/holder.min.js"th:src="@{/js/holder.min.js}"></script>
<script>

        function click1(){
            document.getElementById("inputnum").value++;
            var num=document.getElementById("inputnum").value
            var sumprice =document.getElementById("price").innerHTML*10000*num/10000;
            document.getElementById("sumprice").innerHTML=sumprice+"元";
        }


    //点击-减少数量
        function click2(){
            document.getElementById("inputnum").value--;
            var num=document.getElementById("inputnum").value
            var sumprice =document.getElementById("price").innerHTML*10000*num/10000;
            document.getElementById("sumprice").innerHTML=sumprice+"元";
        }
</script>
</html>