# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\testdata\myshop\myrealshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
